@import "./rose-pine.css";

* {
    border: none;
    border-radius: 0;
    font-family: "BlexMono Nerd Font Mono";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    color: @text;
    background: transparent;
}

tooltip {
    background: @base;
    border-width: 2px;
    border-style: solid;
    border-color: @overlay;
}

#workspaces button {
    padding: 3.5px 7.5px;
    color: @muted;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.urgent {
    color: @base;
    background: @pine;
}

#workspaces button:hover {
    color: @text;
    background: @highlightMed;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#backlight {
    background: @base;
    padding: 0 15px;
}

#workspaces {
    background: @base;
    margin-left: 23px;
}

#window {
    margin: 0 23px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#network {
    color: @text;
}

#pulseaudio {
    color: @text;
}

#backlight {
    color: @text;
}

#battery {
    color: @pine;
}

#battery.good {
    color: @text;
}

#battery.warning {
    color: @gold;
}

#battery.critical {
    color: @base;
    background-color: @love;
}

#clock {
    color: @iris;
    margin-right: 23px;
}
